@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: 'Open Sans', arial;
    scroll-behavior: smooth;
    outline: none;
    scrollbar-color: #242424 white;
    scrollbar-width: thin;
}
*::-webkit-scrollbar{
    width: 10px;
    background-color: white;
}
*::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #242424;
}

h1, h2, h3, h4, h5, h6{
    color: #1c1c1c;
}
a{
    color: #1c1c1c;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.btn{
    padding: 20px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}
.btn-primary{
    background-color: #316ff5;
}
.mt-0{
    margin-top: 0px;
}
.mt-1{
    margin-top: 20px;
}
.mt-2{
    margin-top: 30px;
}
.mt-3{
    margin-top: 40px;
}
.mt-4{
    margin-top: 50px;
}
.mt-5{
    margin-top: 60px;
}

.ml-0{
    margin-left: 0px;
}
.ml-1{
    margin-left: 20px;
}
.ml-2{
    margin-left: 30px;
}
.ml-3{
    margin-left: 40px;
}
.ml-4{
    margin-left: 50px;
}
.ml-5{
    margin-left: 60px;
}

.p-1{
    padding: 0px;
}
.p-1{
    padding: 20px;
}
.p-2{
    padding: 30px;
}
.p-3{
    padding: 40px;
}
.p-4{
    padding: 50px;
}
.p-5{
    padding: 60px;
}

span.error{
    font-size: 12px;
    margin-bottom: 10px;
    color: #b00917;
}
textarea.error, 
input.error{
    border: 1px solid #b00917;
}

.owl-nav button{
    width: 40px;
    height: 40px;
    background-color: white!important;
    border: 1px solid #9c9c9c!important;
    color: #1c1c1c!important;
    font-size: 20px!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER */
.header{
    display: flex;
    flex-direction: column;
}
.header h2{
    color: white;
}
.header .menu{
    padding: 20px 40px;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99999;
    box-sizing: border-box;
}
.header .menu ul{
    transition-duration: 0.5s;
}
.header .menu .ham, .header .menu ul .close-menu div{
    text-align: left;
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #316ff5;
    cursor: pointer;
    color: white;
}
.header .menu ul .close-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header .menu ul .close-menu div{
    background-color: #f23022; 
}
.header .menu a, .header p{
    color: #9c9c9c;
}
.header .menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header .menu ul li{
    margin: 10px;
}
.header .banner{
    background-image: url('../img/banner.svg');
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .banner .sep{
    padding: 0px 80px 150px;
    color: white;
    font-size: 18px;
}
.header .banner .sep img{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    padding: 40px;
}

/* SOCIAL */
.social{
    position: fixed;
    top: calc(50% - 100px);
    left: 0px;
    z-index: 999;
}
.social ul{
    list-style: none;
}
.social ul li{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
    transition-duration: 0.3s;
}
.social ul li:hover{
    width: 60px;
}
.social a{
    color: white;
}
.social a:hover{
    text-decoration: none;
}
.social .linkedin-bg,
.linkedin-bg{
    background-color: #0A66C2;
}
.social .mail-bg,
.mail-bg{
    background-color: #FC361C;
}
.social .whatsapp-bg,
.whatsapp-bg{
    background-color: #00E676;
}
.social .gitlab-bg,
.gitlab-bg{
    background-color: #292961;
}

/* CONTAINER */
.container{
    width: 80%;
    margin-left: 10%;
}
.container .section{
    padding-bottom: 40px;
}
.container .section .title{
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .section .title span{
    color: #2e2e2e;
    margin-bottom: 10px;
}
.container .section p{
    margin-bottom: 10px;
    text-align: justify;
}

/* CONTAINER > PROJECTS */
.projects{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.projects .item{
    width: 500px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    margin: 10px;
}
.projects .item .pj-image img{
    width: 100%;
    overflow: hidden;
}
.projects .item .pj-desc{
    padding: 20px;
}
.projects .item .pj-desc h3{
    margin-bottom: 10px;
}
.projects .item .pj-desc p{
    font-size: 14px;
}

/* CONTAINER > ABOUT */
.about .info-res{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.about .info-res .card{
    width: 150px;
    padding: 10px; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold; 
    text-align: center;
    margin: 10px;
}
.about .info-res .card i{
    font-size: 20px;
    margin-bottom: 10px;
}
.about .info-res .card-red{
    background-color: #fc312d;
    border-top: 5px solid #bf2724;
}
.about .info-res .card-blue{
    background-color: #006aeb;
    border-top: 5px solid #0048a1;
}
.about .info-res .card-green{
    background-color: #00a13b;
    border-top: 5px solid #026326;
}
.about .info-res .card-yellow{
    background-color: #e3b930;
    border-top: 5px solid #a17f0e;
}

/* TIMELINE */
.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.timeline .timeline-content{
    text-align: center;
    padding: 20px;
    padding-top: 80px;
    position: relative;
}
.timeline .timeline-content h3{
    margin-bottom: 10px;
}
.timeline .timeline-year{
    padding: 20px;
    background-color: #316ff5;
    color: white;
    position: absolute;
    top: 0px;
}
.timeline .timeline-left{
    border-right: 5px solid #316ff5;
}
.timeline .timeline-right{
    border-left: 5px solid #316ff5;
}
.timeline .timeline-left .timeline-year{
    right: 0px;
}
.timeline .timeline-right .timeline-year{
    left: 0px;
}

/* CONTAINER > SKILLS */
.skills .item{
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    padding: 20px;
    overflow: hidden;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.skills .item span{
    font-size: 37px;
}
.skills .item h3{
    margin-top: 10px;
    font-size: 18px;
}
.html-color{
    color: #E34F26;
}
.js-color{
    color: #F7DF1E;
}
.css-color{
    color: #1572B6;
}
.php-color{
    color: #777BB4;
}
.laravel-color{
    color: #FF2D20;
}
.mysql-color{
    color: #4C7EFC;
}
.c-sharp-color{
    color: #8C1CFC;
}
.c-color{
    color: #239120;
}
.git-color{
    color: #E34F26;
}

/* CONTAINER > CONTACT */
.contac-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contac-cont .seg{
    display: flex;
    flex-direction: column;
}
.contac-cont .seg h3{
    text-align: center;
}
.contac-cont .seg .c-op{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contac-cont .seg .c-op .contact-op{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.contac-cont .seg a:hover{
    text-decoration: none;
}
.contac-cont form .input-control{
    display: flex;
    flex-direction: column;
}
.contac-cont form .input-control .input{
    padding: 15px;
    border: 1px solid #d9d9d9;
    margin-bottom: 10px;
}
.contac-cont form .input-control input.error,
.contac-cont form .input-control textarea.error{
    border: 1px solid #b00917;
}
.contac-cont form .division{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}
.contac-cont form .btn{
    padding: 15px;
    font-size: 15px;
}

/* FOOTER */
.footer{
    background-color: #1c1c1c;
    color: white;
}
.footer .info{
    padding: 20px 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}
.footer .info h2{
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}
.footer .info ul{
    list-style: none;
    padding: 15px;
}
.footer .info ul li{
    padding: 5px 0px;
}
.footer .copy{
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.footer a{
    color: #9c9c9c;
}

/* RESPONSIVIDADE */
@media(max-width: 1150px){
    .projects .item{
        width: 400px;
    }
}

@media(max-width: 1100px){
    .projects .item{
        width: auto;
        margin: 0px;
        margin-bottom: 10px;
    }
}

@media(max-width: 1100px){
    .header .menu ul{
        position: fixed;
        top: 0px;
        right: -100%;
        width: 300px;
        height: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        z-index: 99999;
        background-color: #242424;
        padding: 0px;
    }
    .header .menu ul li{
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .header .menu ul li a{
        padding: 20px;
        margin: 0px;
        width: 100%;
        transition-duration: 0.3s;
        display: inline-block;
    }
    .header .menu ul li a:hover{
        background-color: #1c1c1c;   
    }
    .header .menu ul li a:hover{
        text-decoration: none;
    }
    .header .menu .ham{
        display: flex;
    }
    .header .menu ul .close-menu{
        display: flex;
    }
    .header .menu ul .close-menu div{
        display: flex;
    }

    .header .banner .sep img{
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 1000px){
    .header .banner{
        height: 900px;
    }
    .header .banner{
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-end;
    }
    .header .banner .sep{
        padding: 0px 40px;
    }
    .footer .info{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 900px){
    .contac-cont{
        grid-template-columns: 1fr;
    }
    .contac-cont form{
        margin-top: 40px;
    }
    .about .info-res{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
    .about .info-res .card{
        height: auto;
        width: auto;
    }
}

@media(max-width: 800px){
    .timeline{
        grid-template-columns: 1fr;
    }
    .timeline .timeline-left,
    .timeline .timeline-right{
        border: none;
    }
}

@media(max-width: 700px){
    .footer .info{
        grid-template-columns: 1fr;
    }
    .footer .info ul{
        margin-top: 0px;
        padding: 0px;
    }
    .footer .info ul h2{
        margin-top: 20px;
    }
    .footer .copy{
        font-size: 12px;
    }
}

@media(max-width: 600px){
    .header .menu{
        padding: 20px;
    }
    .footer .info{
        padding: 20px;
        padding-top: 0px;
    }
}

@media(max-width: 500px){
    .header .banner .sep img{
        width: 200px;
        height: 200px;
    }
    .header .banner{
        flex-direction: column-reverse;
        align-items: center;
    }
    .header .banner .sep{
        justify-content: center;
    }
    .contac-cont form .division{
        grid-template-columns: 1fr;
    }
    .about .info-res{
        grid-template-columns: 1fr;
    }
}